sudo: false
language: java
jdk:
  - openjdk8
  - openjdk11
  - openjdk12
  - openjdk13
  - openjdk14
  - openjdk15
  - openjdk-ea
matrix:
  allow_failures:
    - jdk: openjdk-ea
install: true
cache:
  directories:
    - $HOME/.m2
env:
  - CAMUNDA=LATEST
  - CAMUNDA=7.16.0
  - CAMUNDA=7.15.0
script: mvn clean install com.mycila:license-maven-plugin:check -Pinclude-examples -Dcamunda.version=$CAMUNDA
