sudo: false
language: java
jdk:
  - oraclejdk8
  - oraclejdk7
  - openjdk6
env:
  - CAMUNDA=RELEASE
  - CAMUNDA=7.5.0
  - CAMUNDA=7.4.0
  - CAMUNDA=7.3.0
  - CAMUNDA=7.2.0
  - CAMUNDA=7.1.0-Final
  - CAMUNDA=7.0.0-Final  
install: true
script: mvn -Dcamunda-bpm.version=$CAMUNDA
